.cards-loading-grid {
  display: grid;
  gap: 1.25rem;
}

@media (min-width: 768px) {
  .cards-loading-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (max-width: 767px) {
  .cards-loading-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.cards-loading-item {
  background-color: #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
